@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-neutral-50
}

.dots{
  z-index: -999 ;
  background-color: rgba(245,245,245,1) ;
  opacity: 0.8;
  background-image: radial-gradient(#3d3d3d 0.65px, rgba(245,245,245,1) 0.65px);
  background-size: 13px 13px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .highlight{
    @apply font-medium hover:bg-yellow-100
  }
}
